body {
    height: 1700px;
    width: auto;
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", serif;
}

.header-section-01 {
    height: 450px;
    background-color: #1f2937;
}

.header-container {
    display: flex;
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 15px;
    padding-bottom: 15px;

    align-items: center;
    gap: 20px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;

    margin-right: auto;
}

.header-content {
    font-size: 18px;
    color: #e5e7eb;
}

.section-01 {
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    margin-top: 50px;
    gap: 10px;
    align-items: center;
}

.s1-left,
.s1-right {
    width: 100%;
}

.s1-left {
    padding-right: 25px;
}

.s1-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    padding: 5px;
}

.s1-subtext {
    font-size: 18px;
    color: #e5e7eb;
    padding: 5px;
}

.s1-button {
    background-color: #3882f6;
    font-family: "Roboto", serif;
    border-radius: 10px;
    height: 30px;
    width: 110px;
    border: 0;
    font-size: 16px;
    color: #f9faf8;
    font-weight: bold;
    margin: 5px;
}

.s1-image {
    width: 100%;
}

.section-02 {
    height: 450px;
    background-color: white
}

.s2-img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.s2-images,
.s2-text {
    display: flex;
    justify-content: center;
    gap: 65px;
    text-align: center;
    margin: 10px;
}

.s2-title {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin: 35px;
    margin-bottom: 65px;
    text-align: center;
}

.s2-text-writing {
    width: 200px;
}

.section-03 {
    height: 450px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #565f6f;
}

.quote,
.attribution {
    margin-left: 250px;
    margin-right: 250px;
}

.attribution {
    align-self: flex-end;
    color: #1f2937;
    font-size: 36px;
}

.section-04-footer {
    height: 350px;
    background-color: white;
}

.section-04 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
}

.s4-box {
    background-color: #3882f6;
    border-radius: 12px;
    width: 80%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.s4-title {
    font-size: 32px;
    color: #e5e7eb;
}

.s4-description {
    font-size: 20px;
    color: #e5e7eb;
}

.s4-button {
    background-color: #3882f6;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    font-family: "Roboto", serif;
    color: #e5e7eb;
    width: 120px;
    padding: 10px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    font-size: 20px;
    color: #e5e7eb;
}